.navbar {
    top: 0px;
    width: 100%;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    z-index: 101;
    padding: 16px;
}

.link {
    color: #ECEAE5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

.clock {
    color: grey;
    font-size: 20;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blink {
    animation: blink 1s steps(1, start) infinite;
}

@keyframes blink {
    50% {
        visibility: hidden;
    }
}

/* ========================================
   Button Function
======================================== */
.close-button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20;
    color: #ECEAE5;
}

/* Button Reset */
button {
    all: unset;
    padding: 0;
    border: none;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
}

/* ========================================
   Menu Button
======================================== */
.menu-button {
    margin-top: 16px !important;  /* Apply 16px top margin */
    margin-right: 16px;
    color: #ECEAE5;
    font-size: 10vw;
    padding: 0px 20px;
    text-decoration: none;
    border: solid 0.5px #ECEAE5;
    transition: all 0.3s ease-in-out; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block; /* Add inline-block to ensure margin works */
}

.menu-button:hover {
    padding: 0px 40px;
    color: black;
    background: white;
    border: solid 0.5px white;
}


/* ========================================
   Menu
======================================== */
.menu {
    background: #0E0E0E;
}

.spacer-50 {
    height: 50px;
}
.spacer-200 {
    height: 200px;
}

/* ========================================
   Menu Info
======================================== */
.menu-content {
    padding: 16px;
}
/* ========================================
   Menu Info
======================================== */
.menu-info {
    display: block !important; /* Ensure it stays block */
}

.menu-info-content {
    display: block;
}

.menu-info-button {
    font-size: 16px;
    color: #ECEAE5;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

.menu-info-button:hover {
    background: white;
    color: black;
}

